node_modules
.bun
.next
npm-debug.log
Dockerfile*
docker-compose*
.dockerignore
.git
.gitignore
.gitattributes
README.md
CHANGELOG.md
SECURITY.md
LICENSE
.vscode
*.swp
/scripts
cache
.vscode
.env*
*.log
.github
.devcontainer